
# Data Science Tools and Ecosystem


# Data Science Tools and Ecosystem


## Author:  A. Brignole (June 2024)


## Author:  A. Brignole (June 2024)


In this notebook, Data Science Tools and Ecosystem are summarized.


In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives** 
- Popular Data Science Languages
- A list of some Python libraries Used in Data Science
- Some Data Science Tools/Integrated Development Environments (IDEs) 
- Examples of executing Python code

**Objectives** 
- Popular Data Science Languages
- A list of some Python libraries Used in Data Science
- Some Data Science Tools/Integrated Development Environments (IDEs) 
- Examples of executing Python code


Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SAS
4. SPSS


Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SAS
4. SPSS


Some of the commonly used libraries used by Data Scientists include:

1. Numpy
2. Pandas
3. PyMC
4. Matplotlib
5. Tensorflow


Some of the commonly used libraries used by Data Scientists include:

1. Numpy
2. Pandas
3. PyMC
4. Matplotlib
5. Tensorflow

| Data Science Tools |
|--------------------|
| Jupyter Notebook   |
| Jupyter Lab        |
| Spyder             |
| RStudio            |

| Data Science Tools |
|--------------------|
| Jupyter Notebook   |
| Jupyter Lab        |
| Spyder             |
| RStudio            |


### Below are a few examples of evaluating arithmetic expressions in Python


### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:

#This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [10]:

#This will convert 200 minutes to hours by diving by 60

minutes = 200 
hours = minutes / 60
print(minutes, 'minutes', '=', hours,'hours')

200 minutes = 3.3333333333333335 hours